
{% extends "base.html" %}
{% block title %}Meetups{% endblock %}
{% block content %}

<h1>Meetups</h1>
<a href="{% url "studybuddy_app:meetup.new" %}">New Meetup</a>


{% if meetup_list %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">id</th>
      </tr>
    </thead>
    <tbody>
    {% for meetup in meetup_list %}
    <tr>
        <td align="left"><a href="{% url 'studybuddy_app:meetup.detail' meetup.id %}">{{ meetup.title }}</a></td>
        <td align="left">(id: {{ meetup.id }})</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Meetups are available.</p>
{% endif %}


{% endblock content %}
